{% extends "layout.html" %}
{% block title %}MailBox{% endblock %}
{% block content %}
  <h2>MailBox</h2>

  <strong>View messages from:</strong><br />
  {% for exchange in exchanges.page_data() %}
    <div>
      <a href="/mail/messages/{{ exchange.id }}">
        {% if user.data.username == exchange.username_one %}
	  {{ exchange.username_two }}</a> (<span class="lime">{{ user.data.id|new_messages(exchange.user_two_id) }}</span> 
	{% elseif user.data.username == exchange.username_two %}
	  {{ exchange.username_one }}</a> (<span class="lime">{{ user.data.id|new_messages(exchange.user_one_id) }}</span> 
	{% endif %}
	new messages)
      </div>
  {% endfor %}
  
  {% set object_data = exchanges %}
  {% include "_pagination.html" %}
  
{% endblock %}

{% block bottom_menu %}
  <a href="/user/{{ user.data.username|lower }}">Back</a><br />
{% endblock %}
