{% extends "layout.html" %}
{% block title %}Gallery{% endblock %}
{% block content %}

  <h2>Gallery</h2>
 
  <div class="top-menu right">
    <a href="/gallery/upload">
      <img src="/static/icons/add.png" alt="+" />
      Upload
    </a>
  </div>

  <table>
    {% for file in files.page_data() %}
      {% if not loop.index is divisibleby(2) %}
	<tr>
      {% endif %}
      <td>
	<a href="/gallery/user/{{ file.username|lower }}/{{ file.id }}">
	  <img src="{{ get_file_url(file.id, 60) }}" alt="{{ file.original }}" /><br />
	  {{ remove_name_ext(file.original) }}
	</a>
	<br />
	By <a href="/user/{{ file.username|lower }}">{{ file.username }}</a>
      </td>
      {% if loop.index is divisibleby(2) %}
	</tr>
      {% endif %}
    {% endfor %}
    {% if not files.page_data()|length is divisibleby(2) %}
      </tr>
    {% endif %}
  </table>

  {% set object_data = files %}
  {% include "_pagination.html" %}

{% endblock %}
