{% extends "layout.html" %}
{% block title %}{{ object_user.username|lower }} Gallery{% endblock %}
{% block content %}

  <h2>{{ object_user.username|lower }} Gallery</h2>
  <strong>{{ gallery_file_count(object_user.id) }}</strong> gallery files<br />
  <table>
    {% for file in files %}
      {% if not loop.index is divisibleby(2) %}
	<tr>
      {% endif %}
      <td>
	<a href="/gallery/{{ object_user.username|lower }}/{{ file.id }}">
	  <img src="{{ get_file_url(file.id, 60) }}" alt="{{ file.original }}" /><br />
	  {{ remove_name_ext(file.original) }}
	</a>
      </td>
      {% if loop.index is divisibleby(2) %}
	</tr>
      {% endif %}
    {% endfor %}
    {% if not files|length is divisibleby(2) %}
      </tr>
    {% endif %}
  </table>
{% endblock %}

{% block bottom_menu %}
  <a href="/user/{{  object_user.username|lower }}">Back</a><br />
{% endblock %}
