{% extends "layout.html" %}
{% block title %}File{% endblock %}
{% block content %}

  <img src="{{ get_file_url(file.id, 176) }}" alt="{{ file.original }}" /><br />
  <strong>{{ remove_name_ext(file.original) }}</strong><br />
  Uploaded: {{ file.datetime }}<br />
  {% if object_user.id == user.data.id %}
    {% if not (file.id == user.data.profile_pic_id) %}
      <a href="/gallery/{{ object_user.username|lower }}/{{ file.id }}/default">Set as Profile Pic</a><br />
    {% else %}
      <strong>Current profile picture.</strong><br />
    {% endif %}
  {% endif %}

{% endblock %}

{% block bottom_menu %}
  <a href="/gallery/{{ object_user.username|lower }}">Back</a><br />
{% endblock %}
