{% extends "layout.html" %}
{% block title %}Join{% endblock %}
{% block content %}
  Sign up for free here.<br />
  <form action="/user/join" method="POST">
    <div><strong>Name:</strong></div>
    {{ input.show("username", {}, form) }}
    <div><strong>E-Mail:</strong></div>
    {{ input.show("email", {}, form) }}
    <div><strong>Password:</strong></div>
    {{ input.show("password", {"type": "password"}, form) }}
    <div><strong>Password (verify previous):</strong></div>
    {{ input.show("password_verify", {"type": "password"}, form) }}
    <input type="submit" value="Join" /><br />
  </form>
  Have an acount already? <a href="/user/login">Login</a>.<br />
{% endblock %}
