body {
}
a img { border: 0; }
a { color: #111111; text-decoration: none; }
a:visited { color: #333333; }
table, input, textarea { width: 100%; }
hr { border-color: #cccccc; margin: 4px;border-width: 0 0 1px 0; }
.right { text-align: right; }
.lime { color: lime; }
.gray { color: #cccccc; }
.error { color: #8a1f11; }
.notice { color: #264409; }