{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
  {% if user.is_authenticated %}
    <div>
      Hello, <a href="/user/{{ user.data.username }}">{{ user.data.username }}</a>
    </div>
  {% endif %}

  <strong>Featured people:</strong><br />
  <table>
    <tr>
      {% for featured_user in featured %}
	<td>
	  <a href="/user/{{ featured_user.username|lower }}">
	    <img src="{{ get_file_url(featured_user.profile_pic, 60) }}" alt="{{ featured_user.username }}" /><br />
	    {{ featured_user.username }}
	  </a>
	</td>
      {% endfor %}
    </tr>
  </table>
  
  <hr />
  
  <table>
    <tr>
      <td>
	<a href="/chat">Chat</a>
      </td>
      <td class="right">
	<img src="/static/icons/chat.png" alt="Chat"/>
      </td>
    </tr>
    <tr>
      <td>
	<a href="/discussion">Community Discussion</a>
      </td>
      <td class="right">
	<img src="/static/icons/new.png" alt="Discussions"/>
      </td>
    </tr>
    <tr>
      <td>
	<a href="/gallery">Gallery</a>
      </td>
      <td class="right">
	<img src="/static/icons/graphics.png" alt="Gallery"/>
      </td>
    </tr>
  </table>
  {% if user.is_authenticated %}
    <div class="right">
      <a href="/user/logout">Logout</a>
    </div>
  {% endif %}
{% endblock %}
